/* UTILITIES */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

.container{
  width: 80%;
  max-width: 1225px;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.description h2{
  font-size: 47px;
  padding-bottom: 20px;
}

.description p{
  font-size: 20px;
  line-height: 27px;
}

.fa-solid{
  padding-right: 18px;
}

button{
  font-size: 19px;
  margin: 0 15px;
  padding: 15px 30px;
  border-radius: 28px;
  cursor: pointer;
  border-style: none;
}
/* UTILITIES */

/* HEADER */
header{
  height: 200px;
  background-color: #255ee9;
}

.container.container-header{ /* eccezione dimensione container header */
  height: 50%;
}

/* MENU */
nav{
  text-align: center;
  line-height: 100px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  padding-right: 50px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}

.logo{
  margin-top: 10px;
  float:left;
}

.login{
  float: right;
}

li.login a{
  color: black;
  padding: 12px;
  background-color: white;
  border-radius: 30px;
} 
/* MENU */

/* HEADER */



/* JUMBOTRON */
.jumbotron{
  position: relative;
  background-image: url('img/jumbo.png');
  background-size: cover;
  background-position: center;
  height: 535px;
}

.jumbotron .jumbo-box{ /* posizionamento del box interno al jumbotron */
  position: absolute;
  height: 300px;
  width: 800px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron .jumbo-box h2{
  text-align: center;
  font-size: 55px;
  color: white;
  margin-bottom: 30px;
}

.jumbotron .jumbo-box p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: white;
  margin-bottom: 20px;
}

.buttons{
  text-align: center;
  color: black;
}

#black-button{
  background-color: black;
  color: white;
}
/* JUMBOTRON */

/* MAIN */
section.grey{  /* section con colore di sfondo grigio */
  background-color: #f6f6f6;
}
.container.container-main{  /* eccezione del container del main */
  margin: 20px auto;
  height: 750px;
}

.col{
  margin: 37.5px 0 37.5px 0;
}

.col .description{
  padding-top: 146px;
}



/* WHITE SECTION */
.white .col.col-left{
  position: relative;
  float: left;
  width: 65%;
  height: 90%;
}
.white .col.col-left img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white .col.col-right{
  position: relative;
  float: right;
  width: 35%;
  height: 90%;
}
/* WHITE SECTION */

/* GREY SECTION */
.grey .col.col-left{
  position: relative;
  float: left;
  width: 35%;
  height: 90%;
}
.grey .col.col-right img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey .col.col-right{
  position: relative;
  float: right;
  width: 65%;
  height: 90%;
}
/* GREY SECTION */


/* istruzioni per la section prima del footer */
.container.container-call{
  height: 1250px;
}

.row{
  margin: 10px auto;
  height: 20%;
}

.row.row-sup{
  width: 86%;
  padding-top: 120px;
}
.row.row-center{
  position: relative;
  height: 58%;
}

.row.row-center img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row .description{
  text-align: center;
}

.row.row-inf{
  text-align: center;
}

.row.row-inf .description p{
  font-size: 27px;
  font-weight: 600;

}

#scarica{
  margin-top: 40px;
  background-color: #8ea1e1;
  color: white;
}
/* MAIN */


/* FOOTER */
footer{
  height: 700px;
}

.box-foot{
  margin-top: 20px;
}

.box-foot.box-sup{
  height: 70%;
  background-color: red;
}

.box-foot.box-inf{
  height: 30%;
  background-color: black;
}
/* FOOTER */
